
/* header and nav layout */
.header-wrapper .nav-wrapper {
  background-color: #1a1a1a; /* dark background */
  width: 100%;
  z-index: 2;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav {
  box-sizing: border-box;
  display: flex; /* use flexbox layout */
  flex-direction: row; /* align elements side by side */
  align-items: center; /* vertically center the items */
  justify-content: space-between; /* space out the items evenly */
  margin: auto;
  max-width: 1264px;
  height: var(--nav-height);
  padding: 0 24px;
  font-family: var(--body-font-family);
}

header nav p {
  margin: 0;
  line-height: 1;
}

header nav a:any-link {
  color: white; /* set link color to white */
  text-decoration: none;
  white-space: nowrap; /* prevent text from wrapping */
  margin: 0 16px; /* add spacing between links */
}

/* hamburger */
header nav .nav-hamburger {
  display: none; /* hide hamburger menu */
  visibility: hidden;
}

/* brand */
header nav .nav-brand {
  order: 1; /* order the brand logo first */
  flex-basis: 128px;
  font-size: var(--heading-font-size-s);
  font-weight: 700;
  line-height: 1;
}

header nav .nav-brand img {
  width: 128px;
  height: auto;
  object-fit: contain;
}

/* sections */
header nav .nav-sections {
  order: 2; /* order the navigation menu second */
  flex: 1 1 auto;
  display: flex; /* display as flex */
  flex-direction: row; /* align items side by side */
  visibility: visible;
  justify-content: center; /* center items */
  width: 100%; /* ensure sections take full width */
}

header nav .nav-sections ul {
  list-style: none;
  display: flex; /* enable horizontal layout */
  flex-grow: 1; /* allow ul to grow and fill space */
  justify-content: space-evenly; /* evenly distribute items */
  padding-left: 0;
  font-size: var(--body-font-size-s);
  margin: 0;
}

header nav .nav-sections ul > li {
  font-weight: 500;
  margin: 0 16px; /* add spacing between list items */
}

header nav .nav-sections ul > li > ul {
  margin-top: 0;
  display: none; /* hide sub-menu by default */
}

header nav .nav-sections ul > li:hover > ul {
  display: block; /* show sub-menu on hover */
  position: absolute;
  background-color: #1a1a1a; /* dark background for sub-menu */
  padding: 10px;
}

header nav .nav-sections ul > li > ul > li {
  font-weight: 400;
  padding: 5px 10px;
}

/* tools */
header nav .nav-tools {
  order: 3; /* order the tools section last */
  display: none; /* hide the tools section */
  visibility: hidden;
}
